{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aboutus</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aboutus.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ aboutus.image }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ aboutus.content }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('aboutus_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('aboutus_edit', { 'id': aboutus.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
